.toolbar {
    top: 0px;
    left: 0px;
    /* width: 3.5%; */
    bottom: 0px;
    display: flex;
    z-index: 1;
    position: fixed;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    transition: padding-right 0.4s ease;
    box-shadow: inset 0px 0px 10px 0px black;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FEF200;
}

.toolbar.expanded {
    padding-right: 248px;
}

.toolbar-item .text {
    color: #404040;
    display: none;
    position: absolute;
    font-size: 18.4px;
    animation: fadeInUp 0.8s forwards;
    margin-left: 31px;
    white-space: nowrap;
    font-family: Feather Bold;
}

.text.expanded {
    display: block;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.toolbar-item {
    color: #FFF;
    cursor: pointer;
    margin: 10px;
    display: flex;
    padding: 21px;
    transition: transform 0.3s;
    align-items: center;
    border-radius: 7px;
    background-size: 26px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.toolbar-item:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

#menu {
    background-image: url(../assets/Dashboard/toolbar/Menu.svg);
}

#home {
    background-image: url(../assets/Dashboard/toolbar/Home.svg);
}

#contributors {
    background-image: url(../assets/Dashboard/toolbar/Contributors.svg);
}

#documents {
    background-image: url(../assets/Dashboard/toolbar/Documents.svg);
}

#calendar {
    background-image: url(../assets/Dashboard/toolbar/Calendar.svg);
}

#payslip {
    background-image: url(../assets/Dashboard/toolbar/Payslip.svg);
}

#assessment-training {
    background-image: url(../assets/Dashboard/toolbar/Assessment-training.svg);
}

#signature {
    background-image: url(../assets/Dashboard/toolbar/Signature.svg);
}

#turnoverMatrix {
    background-image: url(../assets/Dashboard/toolbar/TurnoverMatrix2.svg);
}